In [2]:
from datetime import date, timedelta
import pandas as pd
import numpy as np
import boto3
import json
import pysftp
from botocore.exceptions import ClientError
cnopts = pysftp.CnOpts()
cnopts.hostkeys = None
from sqlalchemy import create_engine

def get_aws_creds(database):
    """Get Redshift credentials from AWS Systems Manager (SSM)"""
    ssm_keys = ['prod_redshift_host', 'prod_redshift_ro_password', 'prod_redshift_port', 'prod_redshift_ro_user',
                'lending_readonly_host', 'lending_readonly_pass', 'lending_readonly_port', 'lending_readonly_user',
                database]
    ssm_parameters = boto3.client('ssm', region_name='ap-south-1').get_parameters(Names=ssm_keys, WithDecryption=True)['Parameters']
    ssm_secrets = dict()
    for ssm_parameter in ssm_parameters:
        ssm_secrets[ssm_parameter['Name']] = ssm_parameter['Value']
    return ssm_secrets
def get_engine(database):
    ssm_secrets = get_aws_creds(database)
    if database == 'prod_redshift_name':
        username = ssm_secrets.get('prod_redshift_ro_user')
        password = ssm_secrets.get('prod_redshift_ro_password')
        hostname = ssm_secrets.get('prod_redshift_host')
        port_number = ssm_secrets.get('prod_redshift_port')
        databasename = ssm_secrets.get(database)
        engine_link = 'postgresql+psycopg2://{}:{}@{}:{}/{}'.format(username, password, hostname, port_number, databasename)
        engine = create_engine(engine_link)
    elif database == 'lending_readonly_dbname':
        username = ssm_secrets.get('lending_readonly_user')
        password = ssm_secrets.get('lending_readonly_pass')
        hostname = ssm_secrets.get('lending_readonly_host')
        port_number = ssm_secrets.get('lending_readonly_port')
        databasename = ssm_secrets.get(database)
        engine_link = 'postgresql+psycopg2://{}:{}@{}:{}/{}'.format(username, password, hostname, port_number, databasename)
        engine = create_engine(engine_link)
    elif database == 'UNIFIED_READ_ONLY_DB':
        username = ssm_secrets.get('UNIFIED_READ_ONLY_USER')
        password = ssm_secrets.get('UNIFIED_READ_ONLY_PASSWORD')
        hostname = ssm_secrets.get('UNIFIED_READ_ONLY_HOST')
        port_number = ssm_secrets.get('UNIFIED_READ_ONLY_PORT')
        databasename = ssm_secrets.get(database)
        engine_link = 'postgresql+psycopg2://{}:{}@{}:{}/{}'.format(username, password, hostname, port_number, databasename)
        engine = create_engine(engine_link)
    return engine


def get_engine_unified(database):
    ssm_keys = ['UNIFIED_READ_ONLY_USER','UNIFIED_READ_ONLY_PASSWORD','UNIFIED_READ_ONLY_HOST','UNIFIED_READ_ONLY_PORT',
                database]
    ssm_parameters = boto3.client('ssm', region_name='ap-south-1').get_parameters(Names=ssm_keys, WithDecryption=True)['Parameters']
    ssm_secrets = dict()
    for ssm_parameter in ssm_parameters:
        ssm_secrets[ssm_parameter['Name']] = ssm_parameter['Value']
    username = ssm_secrets.get('UNIFIED_READ_ONLY_USER')
    password = ssm_secrets.get('UNIFIED_READ_ONLY_PASSWORD')
    hostname = ssm_secrets.get('UNIFIED_READ_ONLY_HOST')
    port_number = ssm_secrets.get('UNIFIED_READ_ONLY_PORT')
    databasename = ssm_secrets.get(database)
    engine_link = 'postgresql+psycopg2://{}:{}@{}:{}/{}'.format(username, password, hostname, port_number, databasename)
    engine = create_engine(engine_link)
    return engine

def get_engine_banking(database):
    ssm_keys = ['PORTAL_READONLY_USER','PORTAL_READONLY_HOST','PORTAL_READONLY_PASSWORD']
    ssm_parameters = boto3.client('ssm', region_name='ap-south-1').get_parameters(Names=ssm_keys, WithDecryption=True)['Parameters']
    ssm_secrets = dict()
    for ssm_parameter in ssm_parameters:
        ssm_secrets[ssm_parameter['Name']] = ssm_parameter['Value']
    username = ssm_secrets.get('PORTAL_READONLY_USER')
    password = ssm_secrets.get('PORTAL_READONLY_PASSWORD')
    hostname = ssm_secrets.get('PORTAL_READONLY_HOST')
    databasename = database
    engine_link = 'postgresql+psycopg2://{}:{}@{}/{}'.format(username, password, hostname, databasename)
    engine = create_engine(engine_link)
    return engine


engine_dw2 = get_engine('prod_redshift_name')
engine_lending = get_engine('lending_readonly_dbname')
engine_unified = get_engine_unified('UNIFIED_READ_ONLY_DB')
engine_bank_connect = get_engine_banking('finbox_dashboard')


def get_yogesh_aws_creds():
    """Get Redshift credentials from AWS Systems Manager (SSM)"""
    ssm_keys = ['yogesh_access_key', 'yogesh_secret_key']
    ssm_parameters = boto3.client('ssm', region_name='ap-south-1').get_parameters(Names=ssm_keys, WithDecryption=True)['Parameters']
    ssm_secrets = dict()
    for ssm_parameter in ssm_parameters:
        ssm_secrets[ssm_parameter['Name']] = ssm_parameter['Value']
    return ssm_secrets


def create_presigned_url(stmt_id, bank, expiration=60 * 60 * 24 * 7):
    """Generate a presigned URL to share an S3 object

    :param bucket_name: string
    :param object_name: string
    :param expiration: Time in seconds for the presigned URL to remain valid
    :return: Presigned URL as string. If error, returns None.
    """

    # Generate a presigned URL for the S3 object
    ssm_secrets = get_yogesh_aws_creds()
    s3_client = boto3.client('s3', aws_access_key_id=ssm_secrets.get('yogesh_access_key'), aws_secret_access_key=ssm_secrets.get('yogesh_secret_key'), region_name='ap-south-1')
    try:
        response = s3_client.generate_presigned_url('get_object',
                                                    Params={'Bucket': 'fsmprod',
                                                            'Key': '{}_{}.pdf'.format(stmt_id, bank)},
                                                    ExpiresIn=expiration - 60)
    except ClientError as e:
        print('exception on url generating', e)
        return None
    # The response contains the presigned URL
    return response

def get_ftp_password():
    """Get Redshift credentials from AWS Systems Manager (SSM)"""
    ssm_keys = ['IIFL_SFTP_Password']
    ssm_parameters = boto3.client('ssm', region_name='ap-south-1').get_parameters(Names=ssm_keys, WithDecryption=True)['Parameters']
    ssm_secrets = dict()
    for ssm_parameter in ssm_parameters:
        ssm_secrets[ssm_parameter['Name']] = ssm_parameter['Value']
    return ssm_secrets.get('IIFL_SFTP_Password')

ModuleNotFoundError: No module named 'pysftp'

In [3]:
def get_from_dw2_apps():
    dfapps=pd.read_sql("""SELECT subusername,
       count(DISTINCT package_name) as count_apps,client_id,date(created_at) as created_at,sdk_version_name
FROM apps
WHERE subusername IN
    (select subusername from ddb_customer_id_prod where date(created_at) = current_date)
  AND date(created_At) = CURRENT_DATE
GROUP BY subusername,client_id,date(created_at),sdk_version_name""", engine_dw2)
    return dfapps

def get_from_dw2_sms():
    dfsms=pd.read_sql("""SELECT subusername,
       count(*) as count_sms,client_id,date(created_at) as created_at,sdk_version_name
FROM sms
WHERE subusername IN
    (select subusername from ddb_customer_id_prod where date(created_at) = current_date)
  AND date(created_At) = CURRENT_DATE
GROUP BY subusername,client_id,date(created_at),sdk_version_name""", engine_dw2)
    return dfsms

def required_table():
    df1=get_from_dw2_apps()
    df2=get_from_dw2_sms()
    df=pd.merge(df1,df2, on=['subusername','client_id','created_at','sdk_version_name'], how='outer')
    return df

df3=required_table()
display(df3)

NameError: name 'engine_dw2' is not defined

In [4]:
test_fr=df3[['created_at','count_apps', 'client_id', 'sdk_version_name', 'count_sms']]

NameError: name 'df3' is not defined

In [5]:
df5=test_fr.groupby(["created_at","client_id","sdk_version_name"]).quantile([0.0, 0.10, 0.25,0.50,0.75,0.90,1.00]).reset_index()
display(df5)

NameError: name 'test_fr' is not defined

In [125]:
df_pivot=pd.pivot_table(df5,index=["created_at","client_id","sdk_version_name"],columns=['level_3']).reset_index()

In [126]:
df_pivot.columns = df_pivot.columns.droplevel(0)
df_pivot.reset_index().rename_axis(None, axis=1)

,index,,,,0.0,0.1,0.25,0.5,0.75,0.9,1.0,0.0,0.1,0.25,0.5,0.75,0.9,1.0
0,0,2022-12-15,1,3.3,137.0,158.0,201.00,220.0,303.50,331.0,372.0,4.0,46.2,202.50,1562.0,3224.50,4853.6,6495.0
1,1,2022-12-15,122,3.2.1,266.0,284.2,311.50,357.0,357.00,357.0,357.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2022-12-15,122,3.2.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,49.0,49.00,192.0,192.00,5067.6,8318.0
3,3,2022-12-15,13610,3.2.12,138.0,183.0,202.25,234.5,293.75,340.7,503.0,1.0,52.0,198.50,844.0,2837.50,6489.6,30000.0
4,4,2022-12-15,142,2.7.20,214.0,218.8,226.00,238.0,253.50,262.8,269.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,2022-12-15,22383,3.2.12,255.0,278.2,313.00,355.0,382.00,415.6,438.0,52.0,572.8,1354.00,4763.0,8397.00,9622.2,10439.0
6,6,2022-12-15,25507,3.3.1,218.0,260.4,271.00,285.0,359.00,384.6,395.0,34.0,34.0,34.00,579.0,620.00,2552.4,7622.0
7,7,2022-12-15,32,3.2.1,226.0,226.7,227.75,229.5,231.25,232.3,233.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,2022-12-15,32,3.3.4,303.0,303.0,303.00,303.0,354.00,371.0,371.0,53.0,53.0,104.50,259.0,259.00,259.0,259.0
9,9,2022-12-15,33,2.9.4.3-hotfix,134.0,267.0,301.00,335.0,373.00,419.0,818.0,1.0,36.0,159.00,723.0,2612.00,6289.4,60013.0
10,10,2022-12-15,33,3.2.1,213.0,237.0,237.00,237.0,292.00,292.0,298.0,2.0,36.0,36.00,66.0,216.75,21329.1,30000.0
11,11,2022-12-15,33,3.3.4,235.0,307.0,331.00,361.0,387.50,416.0,484.0,20.0,46.5,160.00,397.0,2861.50,5400.0,30004.0
12,12,2022-12-15,370,3.3.4,340.0,340.0,340.00,340.0,340.00,340.0,340.0,464.0,464.0,464.00,464.0,464.00,464.0,464.0
13,13,2022-12-15,433,3.2.18,273.0,273.0,273.00,273.0,273.00,282.6,308.0,278.0,6759.4,18441.00,18441.0,18441.00,18441.0,18441.0
14,14,2022-12-15,501,2.9.4,231.0,365.7,373.00,392.0,423.75,458.2,598.0,1734.0,2536.1,3739.25,5744.5,7749.75,8952.9,9755.0
15,15,2022-12-15,501,3.2.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,47.0,230.25,1077.0,3375.50,7411.1,44327.0
16,16,2022-12-15,523,2.11,199.0,307.6,334.00,351.0,367.00,408.0,473.0,7.0,132.2,388.00,1500.0,3745.00,6599.4,10346.0
17,17,2022-12-15,523,3.3,152.0,295.0,329.00,364.0,400.00,441.0,588.0,1.0,58.0,264.00,1185.0,3631.00,7507.6,59023.0
18,18,2022-12-15,523,3.3.4,291.0,336.6,356.50,377.0,393.00,416.2,501.0,3.0,59.2,126.50,1046.0,6448.50,10861.4,13452.0
19,19,2022-12-15,524,2.11.2,253.0,287.1,311.50,345.0,385.75,450.9,744.0,5.0,114.0,487.00,1742.0,3025.00,7735.8,23589.0
20,20,2022-12-15,524,3.2.0,168.0,281.2,314.00,357.0,400.00,446.8,697.0,2.0,53.6,214.00,1014.0,3456.00,8276.6,30023.0
21,21,2022-12-15,531,2.11.2,427.0,427.0,427.00,427.0,427.00,427.0,427.0,9142.0,9142.0,9142.00,9142.0,9142.00,9142.0,9142.0
22,22,2022-12-15,531,3.2.0,189.0,278.0,320.25,364.0,410.00,464.1,553.0,1.0,49.0,208.25,910.5,3258.50,8051.1,30016.0
23,23,2022-12-15,535,3.3.6,278.0,282.2,288.50,299.0,300.50,301.4,302.0,441.0,543.6,697.50,954.0,989.50,1010.8,1025.0
24,24,2022-12-15,544,3.2.0,286.0,286.0,286.00,286.0,286.00,286.0,286.0,2656.0,2656.0,2656.00,2656.0,2656.00,2656.0,2656.0
25,25,2022-12-15,544,3.2.18,282.0,282.0,282.00,282.0,282.00,282.0,282.0,4.0,3003.6,7503.00,15002.0,22501.00,27000.4,30000.0
26,26,2022-12-15,548,2.11,297.0,304.8,337.50,376.0,382.50,388.2,390.0,492.0,1032.0,2952.00,6307.0,8454.50,10004.8,10702.0
27,27,2022-12-15,548,3.2.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,169.0,1045.7,1882.25,6086.5,11766.00,22838.1,30014.0
28,28,2022-12-15,60557,3.3.4,324.0,324.0,324.00,324.0,324.00,324.0,324.0,16.0,16.0,16.00,16.0,16.00,16.0,16.0
29,29,2022-12-15,60559,3.2.0,258.0,269.4,286.50,297.0,314.50,344.2,364.0,435.0,453.3,480.75,708.0,1211.25,1735.5,2085.0
30,30,2022-12-15,60559,3.3.1,140.0,266.4,305.50,344.0,382.00,427.0,764.0,1.0,34.7,160.75,743.5,2488.75,5923.8,30003.0
31,31,2022-12-15,60604,3.2.13,290.0,307.6,334.00,378.0,419.00,443.6,460.0,141.0,398.6,785.00,1429.0,3886.50,5361.0,6344.0
32,32,2022-12-15,60995,3.3,206.0,271.2,319.50,374.0,420.00,447.6,471.0,13.0,89.4,656.00,1840.0,4822.00,6066.4,20151.0

In [127]:
df_pivot.columns = ['created_at', 'client_id', 'sdk_version_name',  'count_apps_0.0',  'count_apps_0.1', 'count_apps_0.25',  'count_apps_0.5', 'count_apps_0.75',  'count_apps_0.9',  'count_apps_1.0',  'count_sms_0.0',  'count_sms_0.1',
       'count_sms_0.25',  'count_sms_0.5', 'count_sms_0.75',  'count_sms_0.9',  'count_sms_1.0']

In [128]:
def get_engine(database):
    ssm_secrets = dict()

    if database == 'prod_redshift_name':
        ssm_keys = ['prod_redshift_name', 'prod_redshift_ro_user', 'prod_redshift_ro_password', 'prod_redshift_host', 'prod_redshift_port']
        ssm_parameters = boto3.client('ssm', region_name='ap-south-1').get_parameters(Names=ssm_keys, WithDecryption=True)['Parameters']
        for ssm_parameter in ssm_parameters:
            ssm_secrets[ssm_parameter['Name']] = ssm_parameter['Value']
        username = ssm_secrets.get('prod_redshift_ro_user')
        password = ssm_secrets.get('prod_redshift_ro_password')
        hostname = ssm_secrets.get('prod_redshift_host')
        port_number = ssm_secrets.get('prod_redshift_port')
        databasename = ssm_secrets.get(database)
        engine_link = 'postgresql+psycopg2://{}:{}@{}:{}/{}'.format(username, password, hostname, port_number, databasename)
        engine = create_engine(engine_link)

    elif database == 'lending_readonly_dbname':
        ssm_keys = ['lending_readonly_dbname', 'lending_readonly_user', 'lending_readonly_pass', 'lending_readonly_host', 'lending_readonly_port']
        ssm_parameters = boto3.client('ssm', region_name='ap-south-1').get_parameters(Names=ssm_keys, WithDecryption=True)['Parameters']
        for ssm_parameter in ssm_parameters:
            ssm_secrets[ssm_parameter['Name']] = ssm_parameter['Value']
        username = ssm_secrets.get('lending_readonly_user')
        password = ssm_secrets.get('lending_readonly_pass')
        hostname = ssm_secrets.get('lending_readonly_host')
        port_number = ssm_secrets.get('lending_readonly_port')
        databasename = ssm_secrets.get(database)
        engine_link = 'postgresql+psycopg2://{}:{}@{}:{}/{}'.format(username, password, hostname, port_number, databasename)
        engine = create_engine(engine_link)

    elif database == 'UNIFIED_READ_ONLY_DB':
        ssm_keys = ['UNIFIED_READ_ONLY_DB', 'UNIFIED_READ_ONLY_USER', 'UNIFIED_READ_ONLY_PASSWORD', 'UNIFIED_READ_ONLY_HOST', 'UNIFIED_READ_ONLY_PORT']
        ssm_parameters = boto3.client('ssm', region_name='ap-south-1').get_parameters(Names=ssm_keys, WithDecryption=True)['Parameters']
        for ssm_parameter in ssm_parameters:
            ssm_secrets[ssm_parameter['Name']] = ssm_parameter['Value']
        username = ssm_secrets.get('UNIFIED_READ_ONLY_USER')
        password = ssm_secrets.get('UNIFIED_READ_ONLY_PASSWORD')
        hostname = ssm_secrets.get('UNIFIED_READ_ONLY_HOST')
        port_number = ssm_secrets.get('UNIFIED_READ_ONLY_PORT')
        databasename = ssm_secrets.get(database)
        engine_link = 'postgresql+psycopg2://{}:{}@{}:{}/{}'.format(username, password, hostname, port_number, databasename)
        engine = create_engine(engine_link)

    elif database == 'finbox_dashboard':
        ssm_keys = ['PORTAL_READONLY_USER', 'PORTAL_READONLY_PASSWORD', 'PORTAL_READONLY_HOST']
        ssm_parameters = boto3.client('ssm', region_name='ap-south-1').get_parameters(Names=ssm_keys, WithDecryption=True)['Parameters']
        ssm_secrets = dict()
        for ssm_parameter in ssm_parameters:
            ssm_secrets[ssm_parameter['Name']] = ssm_parameter['Value']
        username = ssm_secrets.get('PORTAL_READONLY_USER')
        password = ssm_secrets.get('PORTAL_READONLY_PASSWORD')
        hostname = ssm_secrets.get('PORTAL_READONLY_HOST')
        databasename = database
        engine_link = 'postgresql+psycopg2://{}:{}@{}/{}'.format(username, password, hostname, databasename)
        engine = create_engine(engine_link)

    elif database == 'finbox_ds_bi_db_name':
        ssm_keys = ['finbox_ds_bi_db_name', 'finbox_ds_bi_ro_user', 'finbox_ds_bi_ro_password', 'finbox_ds_bi_host', 'finbox_ds_bi_port']
        ssm_parameters = boto3.client('ssm', region_name='ap-south-1').get_parameters(Names=ssm_keys, WithDecryption=True)['Parameters']
        ssm_secrets = dict()
        for ssm_parameter in ssm_parameters:
            ssm_secrets[ssm_parameter['Name']] = ssm_parameter['Value']
        username = password = ssm_secrets.get('finbox_ds_bi_ro_user')
        password = ssm_secrets.get('finbox_ds_bi_ro_password')
        hostname = ssm_secrets.get('finbox_ds_bi_host')
        port_number = ssm_secrets.get('finbox_ds_bi_port')
        databasename = ssm_secrets.get(database)
        engine_link = 'postgresql+psycopg2://{}:{}@{}:{}/{}'.format(username, password, hostname, port_number, databasename)
        engine = create_engine(engine_link)

    return engine


engine_dw2 = get_engine('prod_redshift_name')
engine_lending = get_engine('lending_readonly_dbname')
engine_unified = get_engine_unified('UNIFIED_READ_ONLY_DB')
engine_bank_connect = get_engine_banking('finbox_dashboard')
engine_ds_bi = get_engine('finbox_ds_bi_db_name')

In [129]:
df_pivot.to_sql('test_cnt_apps',if_exists = 'append', con=engine_ds_bi,  index=False)

In [130]:
dfnew=pd.read_sql("""select  count(*) from test_cnt_apps""", engine_ds_bi)
dfnew

   count
0     33