**Question-1:**

You have to find and print the smallest element of the list given as input. 

----------------------------------------------------------------------
Input:
A non-empty list of integers.

Output:
The smallest integer of the input list.

----------------------------------------------------------------------
Sample input:
[2, -3, 0, 7, 21]

Sample output:
-3

In [11]:
#input have been taken for you here
a=eval(input())
x=a[0]
for i in a:
    if i<=x:
        x=i
print(x)

[1,2,3,4,5,0]
0

In [12]:
# another solution can be using sort

a=eval(input())
a.sort()
print(a[0])

[4,34,3,5,6,7,2,0,-1]
-1

**Question-2:**

Finding the average of the data and comparing it with other values is often encountered while analysing the data. Here you will do the same thing. The data will be provided to you in a list. You will also be given a number check.  You will return whether the number check is above average or no.

----------------------------------------------------------------------
Input:
A list with two elements:
The first element will be the list of data of integers and
The second element will be an integer check.

Output:
True if check is above average and False otherwise

----------------------------------------------------------------------
Sample input:
[ [2,4,6,8,10],  4]

Sample output:
False

----------------------------------------------------------------------
Sample input:
[ [2,4,6,8,-10],  4]

Sample output:
True

In [18]:
#Take input here
a=eval(input())
avg=sum(a[0])/len(a[0])
if avg<a[1]:
        print(True)
else:
        print(False)

[ [2,4,6,8,-10], 4]
True

**Question-3:**

Write a code to remove duplicate elements from a list


----------------------------------------------------------------------

Input:

[12, 36, 56, 36, 36, 50, 56, 12] 


Output:

[12, 36, 56, 50, 12]

In [17]:
l=input()
list1=[x for x in l.split(',')]
final_list=[]
for i in list1:
    if int(i) not in final_list:
        final_list.append(int(i))
    else: continue
print(final_list)

12, 36, 56, 36, 36, 50, 56, 12
[12, 36, 56, 50]

**Question-4:**

You are planning to go to your friend's wedding and you have long events all month, lasting at least a few days. You have the start and end dates of events and your task is to find out events overlapping with the wedding date.

The code for taking input has already been written for you, please don't modify that, but do read and try to understand the way input has been taken. You will be asked to take input on your own for most of the problems here onwards. Taking data in a suitable format is an important skill for a Data Scientist.

----------------------------------------------------------------------
Input:
The input will contain a list of lists where each sub-list has only two elements representing the start and end date of an event, the start date will be less than or equal to the end date. The next line of input will have a wedding date. 

Output:
The output should have the number of events overlapping with the wedding date.

----------------------------------------------------------------------
Sample input:

[ [29,31], [23,26], [24,25] ]

24

Sample output:
2

Explanation:
There are three events in the month.
Event 1= from date 29 to 31
Event 2= from date 23 to 26
Event 3= from date 24 to 25
Wedding is on 24. This means it will clash with Event 3 and Event 2, that is two events. The output is therefore 2.

----------------------------------------------------------------------
Sample input:

[ [1, 4], [7, 10], [8, 8], [14, 23] ]

26

Sample output:
0

In [9]:
s=eval(input())
day=int(input())
type(s)

[  [24,26],[22,24],[25,29],[24,37]  ]
24

list

In [10]:
summ=0
for i in s:
    if day in i:
        summ=summ+1
print(summ)

3

**Question-5:**

You will be given two positive integers m and n. You have to make a list of lists (which can be visualised as a matrix) of size m*n, that is m sublists (rows), with each sublists having n integers (columns). The matrix should be such that it should have 1 on the border and 0 everywhere else. See sample input and output for more clarification.

----------------------------------------------------------------------
Input:
Two integers separated by a space

Output:
A list of lists of size m*n printed like matrix as shown in the sample output.

----------------------------------------------------------------------
Sample input:
4,5

Sample output:

[1, 1, 1, 1, 1]

[1, 0, 0, 0, 1]

[1, 0, 0, 0, 1]

[1, 1, 1, 1, 1]

----------------------------------------------------------------------
Sample input:
3,3

Sample output:

[1, 1, 1]

[1, 0, 1]

[1, 1, 1]

----------------------------------------------------------------------
Sample input:
3,2

Sample output:

[1, 1]

[1, 1]

[1, 1]

4,5
[1, 1, 1, 1, 1]
[1, 0, 0, 0, 1]
[1, 0, 0, 0, 1]
[1, 1, 1, 1, 1]

**Question-6:**

Write a Python program to divide a given list into chunks of size k.

The number of elements in the list need not to be divisible by k.
For example, if you want to divide the list [1,2,3,4,5,6,7] into chunk size k=4, then the first chunk will be [1,2,3,4] and the second one will have [5,6,7]. i.e. the last chunk need not have k elements.
The input will have two lines, the first line would have the list and the second line would have the value of k.(the code for taking input has already been written, you should not change that)
The final output should have the list chunks in different lines.

Sample Input:

[[1,2,3,4,5,6,7,8,9], 3]

Sample Output:

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

[[1,2,3,4,5,6,7,8,9], 3]
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

**Question - 7**

Given a list of numbers, find the second largest number in the list.

Note: There might be repeated numbers in the list. If there is only one number present in the list, return 'not present'.

Examples:

Input 1:

[7, 2, 0, 9, -1, 8]

Output 1:

8

Input 2:

[3, 1, 4, 4, 5, 5, 5, 0, 2, 2]

Output 2:

4

Input 2:

[6, 6, 6, 6, 6]

Output 2:

not present

[3, 1, 4, 4, 5, 5, 5, 0, 2, 2]
4

**Question - 8**

Given a positive integer n. Print the pattern as shown in sample outputs.

A code has already been provided. You have to understand the logic of the code on your own and try and make changes to the code so that it gives correct output.



Input: A positive integer n

1<= n <=9



Output: Pattern as shown in examples below





Sample input:

4



Sample output:

4444444

4333334

4322234

4321234

4322234

4333334

4444444



Sample input:

5

4
4444444
4333334
4322234
4321234
4322234
4333334
4444444

**Question-9**

Write a code to get the first element from each nested list of a list

Input:

[[15, 78, 4],['C#',80,7],['Go','Rust','C++'],['Python',12]]


Output:

[15, 'C#', 'Go', 'Python']

[[15, 78, 4],['C#',80,7],['Go','Rust','C++'],['Python',12]]
first element of each nested list  =  [15, 'C#', 'Go', 'Python']

**Question-10:**

Return a set of elements present in Set A or B, but not both


Input: 

setA = {10, 20, 30, 40, 50}

setB = {30, 40, 50, 60, 70}


Ouput:

{20, 70, 10, 60}

In [12]:
i=input()
j=input()
a={}
b={}
a={x for x in i.split(',')}
print(a)
b={x for x in j.split(',')}
print(b)
d=a.union(b)
print(d)
e=a.intersection(b)
print(e)
f=d.difference(e)
print(f)

10,20,30,40,50
30,40,50,60,70
{'10', '20', '50', '30', '40'}
{'50', '70', '30', '60', '40'}
{'10', '20', '50', '70', '30', '60', '40'}
{'30', '40', '50'}
{'70', '20', '10', '60'}

In [9]:
a = {10, 20, 30, 40, 50}
b = {30, 40, 50, 60, 70}
c=a.intersection(b)
print(c)

{40, 50, 30}

# Question from hackerrank

In [ ]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())
ans = []
for i in range(0,x+1):
    for j in range(0,y+1):
        for k in range(0,z+1):
            if(i+j+k!=n):
                ans.append([i,j,k])
print(ans)

In [ ]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())
ans=[[i,j,k] for i in range(0,x+1) for j in range(0,y+1) for k in range(0,z+1) if i+j+k!=n]
print(ans)

In [ ]:
n = int(input())
arr = list(map(int, input().split()))[:n]

arr.sort(reverse=True)
result=arr[0]
for i in arr:
    if i==result:
        result=i
    elif i!=result:
        result=i
        break
print(result)

Question : Given the names and grades for each student in a class of  students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.

Example

The ordered list of scores is , so the second lowest score is . There are two students with that score: . Ordered alphabetically, the names are printed as:

alpha
beta
Input Format

The first line contains an integer, , the number of students.
The  subsequent lines describe each student over  lines.
- The first line contains a student's name.
- The second line contains their grade.

Constraints

There will always be one or more students having the second lowest grade.
Output Format

Print the name(s) of any student(s) having the second lowest grade in. If there are multiple students, order their names alphabetically and print each one on a new line.

Sample Input 0

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Sample Output 0

Berry
Harry
Explanation 0

There are  students in this class whose names and grades are assembled to build the following list:

python students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

The lowest grade of  belongs to Tina. The second lowest grade of  belongs to both Harry and Berry, so we order their names alphabetically and print each name on a new line.

In [21]:
scores=[]
for i in range(int(input())):
        name = input()
        score = float(input())
        scores.append([name,score])
list1=[]
for i in scores:
    counter=0
    for x in i:
        counter=counter+1
        if counter>1:
            list1.append(x)
            continue
        else : pass

list1.sort()

counter1=0
number=0
for i in list1:
    counter1=counter1+1
    if counter1==1:
        x=i
        continue
    elif i!=x:
        number=i
        break
    else: pass

final=[]   
for i in scores:
    if i[1]==number:
        final.append(i[0])
    else: continue
final.sort()


for i in final:
    print(i)

3
a
10
b
20
c
20
c
b

Question : The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. Print the average of the marks array for the student name provided, showing 2 places after the decimal.

Example




The query_name is 'beta'. beta's average score is .

Input Format

The first line contains the integer , the number of students' records. The next  lines contain the names and marks obtained by a student, each value separated by a space. The final line contains query_name, the name of a student to query.

Constraints

Output Format

Print one line: The average of the marks obtained by the particular student correct to 2 decimal places.

Sample Input 0

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
Sample Output 0

56.00
Explanation 0

Marks for Malika are  whose average is 

Sample Input 1

2
Harsh 25 26.5 28
Anurag 26 28 30
Harsh
Sample Output 1

26.50

In [28]:
n=int(input())
student_marks={}
for i in range(n):
    name, *line=input().split()
    scores=list(map(float, line))
    student_marks[name]=scores

student_avg=input()
marks=student_marks[student_avg]
print("%.2f" % (sum(marks)/len(marks)))

3
a 10 20 30
b 30 40 50
c 10 40 30
{'a': [10.0, 20.0, 30.0], 'b': [30.0, 40.0, 50.0], 'c': [10.0, 40.0, 30.0]}
a
20.00

Question :  A newly opened multinational brand has decided to base their company logo on the three most common characters in the company name. They are now trying out various combinations of company names and logos based on this condition. Given a string , which is the company name in lowercase letters, your task is to find the top three most common characters in the string.

Print the three most common characters along with their occurrence count.
Sort in descending order of occurrence count.
If the occurrence count is the same, sort the characters in alphabetical order.
For example, according to the conditions described above,

 would have it's logo with the letters .

Input Format

A single line of input containing the string .

Constraints

 has at least  distinct characters
Output Format

Print the three most common characters along with their occurrence count each on a separate line.
Sort output in descending order of occurrence count.
If the occurrence count is the same, sort the characters in alphabetical order.

Sample Input 0

aabbbccde
Sample Output 0

b 3
a 2
c 2
Explanation 0


Here, b occurs  times. It is printed first.
Both a and c occur  times. So, a is printed in the second line and c in the third line because a comes before c in the alphabet.

Note: The string  has at least  distinct characters.

In [30]:
string=input()
letters=[*string]
letters.sort()
print(letters)

google
['e', 'g', 'g', 'l', 'o', 'o']